{{- if (and (eq .chezmoi.os "darwin") .is_personal) -}}
#!/usr/bin/env bash

echo "Installing Haskell..."

asdf plugin add haskell https://github.com/vic/asdf-haskell.git
asdf install haskell latest:9

echo "Haskell installed!"
{{- end -}}
