{{- if (and (eq .chezmoi.os "darwin") .is_personal) -}}
#!/usr/bin bash

echo "Installing Java..."

asdf plugin add java https://github.com/halcyon/asdf-java.git
asdf install java latest:openjdk-17

echo "Java installed!"
{{- end -}}
