{{ if (and (eq .chezmoi.os "darwin" "linux") (not .is_headless)) -}}
#!/usr/bin/env bash

extensions=(
  bungcip.better-toml
  codespaces-contrib.codeswing
  dbaeumer.vscode-eslint
  eamodio.gitlens
  editorconfig.editorconfig
  golang.go
  hediet.vscode-drawio
  jinliming2.vscode-go-template
  ms-vscode-remote.vscode-remote-extensionpack
  ms-vsliveshare.vsliveshare-pack
  richie5um2.vscode-sort-json
  sleistner.vscode-fileutils
  stylelint.vscode-stylelint
  tyriar.sort-lines
  zhuangtongfa.material-theme
)

for extension in ${extensions[@]}; do
  code --force --install-extension $extension
done

echo "VSCode extensions installed!"

{{ end }}
