{{- if (and (eq .chezmoi.os "darwin") .is_personal) -}}
#!/usr/bin/env bash

echo "Installing Ruby..."

asdf plugin add ruby https://github.com/asdf-vm/asdf-ruby.git
asdf install ruby latest:3

echo "Ruby installed!"
{{- end -}}
