{{- if (and (eq .chezmoi.os "darwin") .is_personal) -}}
#!{{ lookPath "bash" }}

echo "Installing Elixer..."

asdf plugin add elixer https://github.com/asdf-vm/asdf-elixir.git
asdf install elixer latest:1.13

echo "Elixer installed!"
{{- end -}}
