{{- if (and (eq .chezmoi.os "darwin") .is_personal) -}}
#!{{ lookPath "bash" }}

echo "Installing R..."

asdf plugin add R https://github.com/asdf-community/asdf-r.git
asdf install r latest:4

echo "R installed!"
{{- end -}}
