{{- $name := "Wes Rice" -}}
{{- $email := "wes@wesrice.com" -}}
{{- $github_username := "wesrice" -}}
{{- $work_hostname_prefix := "IT-USA" -}}
{{- $hostname := .chezmoi.hostname -}}
{{- $is_work := hasPrefix $work_hostname_prefix $hostname -}}
{{- $is_personal := $is_work | not -}}
{{- $is_cvm := false -}}
{{- $is_codespace := env "CODESPACES" | not | not -}}

[data]
  scriptTempDir = "~/tmp"
  name = "{{- $name }}"
  github_username = "{{- $github_username }}"
  is_work = {{- $is_work }}
  is_personal = {{- $is_personal }}
  is_codespace = {{- $is_codespace }}

{{- if $is_work }}
  email = "{{- env "USER" }}@indeed.com"
  hostname = "{{- $hostname }}"
  is_cvm = {{ promptBool "Is this a cvm?" $is_cvm }}
{{- else if $is_codespace }}
  email = "{{- $email }}"
  hostname = "{{- $hostname }}"
  is_cvm = false
{{- else }}
  email = "{{- $email }}"
  hostname = {{ promptString "Hostname:" $hostname | quote }}
  is_cvm = false
{{- end }}
