cask_args appdir: '/Applications'

tap 'homebrew/cask-drivers'
tap 'homebrew/cask-fonts'

brew 'asdf'
brew 'chezmoi'
brew 'gawk'
brew 'gcc'
brew 'gh'
brew 'git'
brew 'git-lfs'
brew 'gpg'
brew 'httpie'
brew 'svn'
brew 'zsh-completions'

cask '1password'
cask '1password-cli'
cask 'alfred'
cask 'appcleaner'
cask 'bartender'
cask 'docker'
cask 'font-meslo-lg-nerd-font'
cask 'firefox'
cask 'iterm2'
cask 'karabiner-elements'
cask 'lastfm'
cask 'logitech-camera-settings'
cask 'pandora'
cask 'sonos'
cask 'spotify'
cask 'the-unarchiver'
cask 'visual-studio-code'
cask 'xquartz'

{{- if .is_work -}}
cask 'lastpass'
{{- else -}}
cask 'google-chrome'
cask 'slack'
cask 'webull'
cask 'zoom'
{{- end -}}
