cask_args appdir: '/Applications'

tap 'homebrew/cask-drivers'
tap 'homebrew/cask-fonts'

brew 'gawk'
brew 'gcc'
brew 'gh'
brew 'git'
brew 'git-lfs'
brew 'gpg'
brew 'httpie'
brew 'jq'
brew 'mas'
brew 'openssl'
brew 'svn'
brew 'zsh-completions'

cask '1password'
cask '1password-cli'
cask 'appcleaner'
cask 'bartender'
cask 'cloudflare-warp'
cask 'elgato-control-center'
cask 'elgato-stream-deck'
cask 'elgato-wave-link'
cask 'font-meslo-lg-nerd-font'
cask 'firefox'
cask 'iterm2'
cask 'karabiner-elements'
cask 'pandora'
cask 'postman'
cask 'raycast'
cask 'sonos'
cask 'spotify'
cask 'the-unarchiver'
cask 'visual-studio-code'
cask 'xquartz'

{{- if .is_work }}
cask 'figma'
cask 'lastpass'
cask 'miro'
cask 'opera'
{{- else }}
cask 'docker'
cask 'google-chrome'
cask 'slack'
cask 'webull'
cask 'zoom'
{{- end }}
