{
  "files.associations": {
    "*.strings": "plist"
  },
  "editor.fontSize": 18,
  "editor.renderWhitespace": "all",
  "editor.rulers": [
    80
  ],
  "terminal.integrated.shell.linux": "zsh",
  "terminal.integrated.shell.osx": "zsh",
  "terminal.integrated.fontFamily": "MesloLGL Nerd Font Mono, Menlo",
  "terminal.integrated.fontSize": 14,
  "window.zoomLevel": 1,
  "workbench.colorTheme": "One Dark Pro",
  "workbench.editorAssociations": {
    "*.plist": "default"
  }
}
