alias cvm="ssh -t cvm \"zsh --login\""
alias dotfiles="code $(chezmoi source-path)"
alias pow-code="code --folder-uri=vscode-remote://ssh-remote+cvm/home/wrice/indeed/profile-one-frontend"
alias pow-cvm="ssh -t cvm \"cd $HOME/indeed/profile-one-frontend; zsh --login\""
alias pow-jira="open https://bugs.indeed.com/projects/POW/summary"
alias pow-open="open http://profile.wrice.cvm.indeed.net"
alias pow-tunnel="ssh -L 3000:127.0.0.1:3000 wrice.cvm.indeed.net"
